.row {
  width:100%;
}
.centerme {
  text-align:center;
}
.toppadding {
  padding-top:40px;
}
.bigger {
  font-size:25px;
}
#pageone {
  height:100vh;
}
#pagetwo {
  height:100vh;
  background-color:black;
}
